MovingToVBNet2E/SourceVS02/CH14/BillingComponent/BillingSet.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="BillingSet" targetNamespace="http://tempuri.org/BillingSet.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/BillingSet.xsd" xmlns:mstns="http://tempuri.org/BillingSet.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BillingTable">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="xs:string" />
				<xs:element name="Hours" type="xs:integer" />
				<xs:element name="Description" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
