MovingToVBNet2E/SourceVS03/CH14/BillingWinAppWeb/Web References/localhost/WebBillingService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="AddBillingRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="hours" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBillingRecordResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetBillingInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetBillingInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBillingInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="AddBillingRecordSoapIn">
    <part name="parameters" element="s0:AddBillingRecord" />
  </message>
  <message name="AddBillingRecordSoapOut">
    <part name="parameters" element="s0:AddBillingRecordResponse" />
  </message>
  <message name="GetBillingInfoSoapIn">
    <part name="parameters" element="s0:GetBillingInfo" />
  </message>
  <message name="GetBillingInfoSoapOut">
    <part name="parameters" element="s0:GetBillingInfoResponse" />
  </message>
  <message name="AddBillingRecordHttpGetIn">
    <part name="Name" type="s:string" />
    <part name="hours" type="s:string" />
    <part name="Description" type="s:string" />
  </message>
  <message name="AddBillingRecordHttpGetOut" />
  <message name="GetBillingInfoHttpGetIn" />
  <message name="GetBillingInfoHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="AddBillingRecordHttpPostIn">
    <part name="Name" type="s:string" />
    <part name="hours" type="s:string" />
    <part name="Description" type="s:string" />
  </message>
  <message name="AddBillingRecordHttpPostOut" />
  <message name="GetBillingInfoHttpPostIn" />
  <message name="GetBillingInfoHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <portType name="WebBillingServiceSoap">
    <operation name="AddBillingRecord">
      <input message="s0:AddBillingRecordSoapIn" />
      <output message="s0:AddBillingRecordSoapOut" />
    </operation>
    <operation name="GetBillingInfo">
      <input message="s0:GetBillingInfoSoapIn" />
      <output message="s0:GetBillingInfoSoapOut" />
    </operation>
  </portType>
  <portType name="WebBillingServiceHttpGet">
    <operation name="AddBillingRecord">
      <input message="s0:AddBillingRecordHttpGetIn" />
      <output message="s0:AddBillingRecordHttpGetOut" />
    </operation>
    <operation name="GetBillingInfo">
      <input message="s0:GetBillingInfoHttpGetIn" />
      <output message="s0:GetBillingInfoHttpGetOut" />
    </operation>
  </portType>
  <portType name="WebBillingServiceHttpPost">
    <operation name="AddBillingRecord">
      <input message="s0:AddBillingRecordHttpPostIn" />
      <output message="s0:AddBillingRecordHttpPostOut" />
    </operation>
    <operation name="GetBillingInfo">
      <input message="s0:GetBillingInfoHttpPostIn" />
      <output message="s0:GetBillingInfoHttpPostOut" />
    </operation>
  </portType>
  <binding name="WebBillingServiceSoap" type="s0:WebBillingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="AddBillingRecord">
      <soap:operation soapAction="http://tempuri.org/AddBillingRecord" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetBillingInfo">
      <soap:operation soapAction="http://tempuri.org/GetBillingInfo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="WebBillingServiceHttpGet" type="s0:WebBillingServiceHttpGet">
    <http:binding verb="GET" />
    <operation name="AddBillingRecord">
      <http:operation location="/AddBillingRecord" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="GetBillingInfo">
      <http:operation location="/GetBillingInfo" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="WebBillingServiceHttpPost" type="s0:WebBillingServiceHttpPost">
    <http:binding verb="POST" />
    <operation name="AddBillingRecord">
      <http:operation location="/AddBillingRecord" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="GetBillingInfo">
      <http:operation location="/GetBillingInfo" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="WebBillingService">
    <port name="WebBillingServiceSoap" binding="s0:WebBillingServiceSoap">
      <soap:address location="http://localhost/Ch14WebBillingService/WebBillingService1.asmx" />
    </port>
    <port name="WebBillingServiceHttpGet" binding="s0:WebBillingServiceHttpGet">
      <http:address location="http://localhost/Ch14WebBillingService/WebBillingService1.asmx" />
    </port>
    <port name="WebBillingServiceHttpPost" binding="s0:WebBillingServiceHttpPost">
      <http:address location="http://localhost/Ch14WebBillingService/WebBillingService1.asmx" />
    </port>
  </service>
</definitions>